﻿@model List<MarkoTell.Models.Countries>
@{ 
    var sch = Model[0].Schools;
}

<form action="/MemberRegistration" method="post" id="RegistrationForm">
    <div class="modal-body">
        <h4>Registracija</h4>
        <div class="input-group">
            <input name="Email" id="Email" class="form-control RegInput" required="" placeholder="Unesite Email/Korisničko ime" type="email">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        </div>


        <div class="input-group">
            <input id="password" pattern=".{5,}"   required title="8 characters minimum" name="password" class="form-control RegInput"  maxlength="10" placeholder="Unesite lozinku" type="password">
            <span class="input-group-addon"><i class="fa fa-eye fa-fw"></i></span>
        </div>

        <div class="input-group">
            <input id="name" name="name" class="form-control RegInput" required="" maxlength="50" placeholder="Ime " type="text">
            <span class="input-group-addon">
                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
            </span>
        </div>

        <div class="input-group">
            <input id="surname" name="surname" class="form-control RegInput" required="" maxlength="50" placeholder="Prezime " type="text">
            <span class="input-group-addon">
                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
            </span>
        </div>

        <div class="input-group">
            <input id="grade" name="department" class="form-control RegInput" required="" maxlength="1" placeholder="Unesite odjeljenje " type="text">
            <span class="input-group-addon">
                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
            </span>
        </div>

        <div class="input-group">
            <input name="emailOfParents" id="emailOfParents" class="form-control RegInput" required="" maxlength="50" placeholder="Unesite Email roditelja" type="email">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        </div>



        <div class="input-group" required>
            <select name="contestCountry" id="contestCountry" onchange="getSchools(this)" class="RegInput">
                <optgroup label="Odaberite odjel">
                    @foreach (var li in Model)
                    {
                        <option value="@li.CountryID">@li.countryName</option>

                    }
                </optgroup>
            </select>
        </div>



        <div class="input-group">
            <select name="school" id="school" required class="RegInput">
                <optgroup label="Odaberite odjel" id="schoolsOptions">
                    @foreach (var li in sch)
                    {
                        <option value="@li.id">@li.Name</option>
                    }
                </optgroup>
            </select>
        </div>




        <div class="input-group" required>
            <select name="grade" class="RegInput">
                <optgroup label="Razred">
                    @for (int i = 1; i < 9; i++)
                    {
                        <option value="@i">@i</option>
                    }

                </optgroup>
            </select>
        </div>

        <div class="input-group">
            <select name="gender" required class="RegInput">
                <optgroup label="Spol">
                    <option value="M">M</option>
                    <option value="Z">Ž</option>
                </optgroup>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        @*<button class="btn btn-default">Prijava <i class="fa fa-sign-in"></i></button>*@
        @*<input type="submit" class="btn btn-success" value="Potvrdi" onclick="ElementsSelected(event)" />*@
        <input type="submit" class="btn btn-success" value="Potvrdi"/>
        <button class="btn btn-danger" data-dismiss="modal" aria-label="Close">Zatvori<i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
</form>