﻿.MarkoTellUserHandle {
  margin-top: 12px;
}

.MarkoTellUserHandle i{
    cursor:pointer;
    margin-right: 3px;
    font-size: 1.2em;
}

    .MarkoTellUserHandle i:hover {
        font-size: 1.4em;
    }