﻿<!--LANDING NEWS BEGIN-->
<div id="news" class="landing-sport-main-news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="landing-sport-header">main news</h5>
            </div>
        </div>
        <div class="row no-gutters row-eq-height">
            <div class="col-md-4">
                <a href="#" class="news-wprapper">
                    <img src="images/common/landing-news-1.jpg" alt="news-img">
                    <div class="news-border">
                        <span class="date">25 august</span>
                        <span class="name">Internacional inertns</span>
                    </div>
                </a>
            </div>
            <div class="col-md-8">
                <div class="row no-gutters row-eq-height">
                    <div class="col-md-6">
                        <a href="#" class="news-wprapper">
                            <img src="images/common/landing-news-2.jpg" alt="news-img">
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="news-wprapper">
                            <img src="images/common/landing-news-3.jpg" alt="news-img">
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row no-gutters row-eq-height">
                    <div class="col-md-6">
                        <a href="#" class="news-wprapper">
                            <img src="images/common/landing-news-4.jpg" alt="news-img">
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#" class="news-wprapper">
                            <img src="images/common/landing-news-5.jpg" alt="news-img">
                            <div class="news-border">
                                <span class="date">25 august</span>
                                <span class="name">Internacional inertns</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--LANDING NEWS END--> 